<%- include('partials/header'); -%>
<h1>Blog Posts</h1>
<br>




    <% items.forEach(function(post) { %>
		<div class="card">
			<div class="card-header">
        				<img  class="profilepic" src="data:image/<%=post.img.contentType%>;base64,
					      <%=post.img.data.toString('base64')%>">
                <div class="head-bod">
                    <h2  class="title"><%= post.title %></h2>
                    <p class="timepost"> <%= post.date %> </p>
                </div>
                  
      </div>

      <div class="card-body">
                    <p><%= post.post.substr(0,500)+ " ..." %> <a href="/posts/<%=post._id%>">Read More</a></p>
                   
      </div>
		  </div>
      <br> 
                   <% }) %>

      
       
      </div>  
    </div>

   
   
    <%- include('partials/footer'); -%>