<%- include('partials/header'); -%>
<h1>Blog Posts</h1>
<br>




    <% items.forEach(function(image) { %>
		<div class="card">
			<div class="card-header">
        				<img  class="profilepic" src="data:image/<%=image.img.contentType%>;base64,
					      <%=image.img.data.toString('base64')%>">
                    <h2  class="title"><%= image.title %></h2>
                    <p class="timepost"> <%= timePost %> </p>
      </div>

      <div class="card-body">
                    <p><%= image.post %></p>
                     
      </div>
		  </div>
      <br> 
                   <% }) %>

      
       
      </div>  
    </div>

   
   
    <%- include('partials/footer'); -%>